In [7]:
import plotly.plotly as py
import pandas as pd
from datascience import *
import numpy as np

In [8]:
data=Table().read_table('fire_archive_M6_25871.csv')
py_data=data.select(0,1,2)
brightest=max(py_data.column('brightness'))
medium=np.median(py_data.column('brightness'))
dimmest=min(py_data.column('brightness'))
print('brightest=', brightest, 'medium=', medium, 'dimmest=', dimmest)

brightest= 506.2 medium= 323.4 dimmest= 300.0

In [9]:
with_bright=py_data.where('brightness', brightest)
with_medium=py_data.where('brightness', medium).take(0)
with_dim=py_data.where('brightness', dimmest).take(0)

new_data=Table().with_columns('latitude', make_array(with_bright.column(0).item(0),with_medium.column(0).item(0), with_dim.column(0).item(0)),
                             'longitude', make_array(with_bright.column(1).item(0),with_medium.column(1).item(0), with_dim.column(1).item(0)),
                              'brightness',make_array(brightest, medium, dimmest))
                              
new_data

latitude | longitude | brightness
44.262   | -118.318  | 506.2
38.773   | -122.924  | 323.4
36.082   | -118.757  | 300

In [10]:
df=pd.read_csv('fire_archive_M6_25871.csv')
sorted_up=df.sort_values(by='brightness', ascending=True)

In [11]:
a = df[(df['latitude']==38.773) & (df['brightness']==323.4)] #Baker County, Oregon
b = df[(df['latitude']==44.262) & (df['brightness']==506.2)] #Cloverdale, CA
c = df[(df['latitude']==36.082) & (df['brightness']==300)] #Tulare County, CA
three = a.append(b)
three = three.append(c)
three = three.sort_values('brightness',ascending=False)
three

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp
35658,44.262,-118.318,506.2,1.0,1.0,2016-08-27,2101,Aqua,MODIS,100,6.1,400.1,1808.0
659,38.773,-122.924,323.4,1.3,1.1,2003-08-02,2133,Aqua,MODIS,76,6.1,299.4,19.3
3277,36.082,-118.757,300.0,1.0,1.0,2017-09-11,607,Terra,MODIS,3,6.1,277.2,4.6

In [30]:
three.index[three['brightness']==300.0]

Int64Index([3277], dtype='int64')

In [12]:
three.iloc[0:1]

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp
35658,44.262,-118.318,506.2,1.0,1.0,2016-08-27,2101,Aqua,MODIS,100,6.1,400.1,1808.0

In [13]:
three.iloc[1:2]

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp
659,38.773,-122.924,323.4,1.3,1.1,2003-08-02,2133,Aqua,MODIS,76,6.1,299.4,19.3

In [27]:
z=three.iloc[0:1]
z['brightness']

35658    506.2
Name: brightness, dtype: float64

In [31]:
z=three.iloc[2:3]
z.at[3277, 'brightness']
#BUT HOW DO I FIND THE INDEX??

300.0

In [15]:
len(three.index)

3

In [16]:
three['text']=three['acq_date']
rows=len(three.index) #get number of rows
colors = ["rgb(255,0,0)", "rgb(255,128,0)", "rgb(255,255,0)"] #red, orange, yellow
fires=[]
for i in range(rows):
    three_sub=three.iloc[i:i+1] #grab each individual row 
    fire=dict(
        type = 'scattergeo',
        locationmode = 'USA-states',
        lon = three_sub['longitude'],
        lat = three_sub['latitude'],
        text = three_sub['text'],
        marker=dict(
                size=three_sub['brightness']/20,
                color=colors[i],
                line = dict(width=0.5, color='rgb(40,40,40)'),
                sizemode='diameter'
                    ),
        name='{0}'.format(three_sub['brightness']) ) #legend labels
    fires.append(fire)

In [18]:
layout=dict(
        title='Range of fire brightness',
        showlegend=True,
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showland = True,
            landcolor = 'rgb(217, 217, 217)',
            subunitwidth=1,
            countrywidth=1,
            subunitcolor="rgb(255, 255, 255)",
            countrycolor="rgb(255, 255, 255)"
        ),
    )
fig = dict(data=fires, layout=layout)
py.iplot(fig, validate=False, filename='3-FIRMS-bubble-map')

C:\Users\winif\Anaconda3\lib\site-packages\plotly\tools.py:1428: UserWarning:

Looks like you used a newline character: '\n'.

Plotly uses a subset of HTML escape characters
to do things like newline (<br>), bold (<b></b>),
italics (<i></i>), etc. Your newline characters
have been converted to '<br>' so they will show
up right on your Plotly figure!